// == utilities == //
.container {
  max-width: 1200px;
  max-width: rem(1200px);
  margin: 0 auto;
  padding: 0 ($global-gutter/2);
  box-sizing: border-box;
  @include bp(500) { padding: 0 $global-gutter; }
}

body {
  padding: 0 2em;
}
$nav-active-color: hsl(200, 90%, 85%);
.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  background: hsla(0, 0%, 100%, 0.98);
  li { display: inline-block; }
  a {
    display: block;
    white-space: nowrap;
    padding: 1em;
    font-size: 14px;
    transition: all $duration;
    &:hover {
      background: $nav-active-color;
    }
  }
}
@for $i from 1 through 15 {
  [data-active="#{$i}"] .nav li:nth-child(#{$i}) {
    background: $nav-active-color;
  }
}
.typeface {
  display: grid;
  grid-gap: 2em;
  margin-bottom: 2em;
  margin-bottom: calc(2em + 10vw);
  padding-top: 4em;
  @include bp(1024) {
    grid-template-columns: repeat(2, 1fr);
    .open {
      grid-column: 1 / 3;
    }
  }
  @include bp(1400) {
    grid-template-columns: repeat(3, 1fr);
    .open {
      grid-column: 1 / 4;
    }
  }
  li {
    position: relative;
    padding: 0 10px;
    background: hsl(47, 70%, 90%);
    word-break: break-all;
    > div {
      margin: 20px 0;
      line-height: 1.2;
    }
  }
  .open {
    width: 100%;
    .title, .p { display: block; }
    .i-expand {
      background: red;
      &:after { transform: none; }
    }
  }
}
.i-expand {
  display: block;
  float: right;
  border: 0;
  margin: -15px;
  padding: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all $duration / 2;
  &:hover {
    background: red;
    transform: scale(1.2);
    &:before { transform: rotate(90deg); }
    &:after { transform: rotate(180deg); }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    left: 20%;
    top: 50%;
    margin-top: -1px;
    width: 60%;
    height: 2px;
    background: currentColor;
    transition: transform $duration;
  }
  &:after {
    transform: rotate(90deg);
  }
}
.has-tools {
  position: relative;
  &:hover .tool { opacity: 1; }
  .tool {
    position: absolute;
    right: 10px;
    bottom: 0px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.25s;
  }
}
.p {
  line-height: 1.7 !important;
  > div {
    max-width: 50em;
  }
}
.no-script {
  .p { font-size: 16px; }
  .display { font-size: 100px; }
  .title { font-size: 42px; }
}
.script {
  .title,
  .p { display: none; }
}

.c-57-futura,
.c-adamas,
.c-dripping-cool,
.c-high-life-lite,
.c-south-rose,
.c-westfalia,
.c-test {
  text-transform: uppercase;
}
.c-flex-display { text-transform: lowercase; }
.c-endoell {
  position: relative;
  top: -13em;
  .display { margin-bottom: 1.5em; }
  .title { margin-bottom: 1.5em; }
}

